.carousel-img {
  height: 260px;
  object-fit: cover;
  filter: brightness(0.9);
}

.carousel-caption {
  top: 35%;
  bottom: auto;
}

.carousel-caption h2 {
  font-size: 36px;
  font-weight: 400;
}

.carousel-caption p {
  font-size: 20px;
}

table {
  font-size: 20px;
}

tbody tr {
  background-color: #f1f1f1;
}